<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sipin.cloud.member.service.mapper.sales.SalesAgencyPaymentHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sipin.cloud.member.pojo.pojo.salesAgency.SalesAgencyPaymentHistory">
        <id column="id" property="id" />
        <result column="agency_id" property="agencyId" />
        <result column="order_no" property="orderNo" />
        <result column="payment_no" property="paymentNo" />
        <result column="amount" property="amount" />
        <result column="create_at" property="createAt" />
    </resultMap>

</mapper>
